Compiler.Core/Compiler.Core/keyWordList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KeyWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="KeyWord">
          <xs:complexType>
            <xs:attribute name="value" type="xs:string" use="required" />
            <xs:attribute name="index" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>